# mackup configuration

[configuration_files]

[storage]
engine = dropbox
directory = AppData/mackup

[applications_to_sync]
bartender
colorsync
dash
fantastical
flux
gnupg
intellijidea
istat-menus-5
keyboard-layouts
launchagents
littlesnitch
macosx
mailmate
messages
path-finder
sizeup
slack
sourcetree
sublime-text-2
sublime-text-3
terminal
wakatime
xcode